<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/admin/css/matrix-style.css" rel="stylesheet" />
    <link href="~/Content/admin/css/matrix-media.css" rel="stylesheet" />
    <link href="~/Content/admin/font-awesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/admin/css/jquery.gritter.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Hoşgeldin</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> Profilim</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-check"></i> Görevlerim</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="icon-key"></i> Çıkış </a></li>
                </ul>
            </li>
            <li class="dropdown" id="menu-messages">
                <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Mesajlarım</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> Yeni Mesaj</a></li>
                    <li class="divider"></li>
                    <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> Gelen Kutusu</a></li>
                    <li class="divider"></li>
                    <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> Giden Kutusu</a></li>
                    <li class="divider"></li>
                    <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
                </ul>
            </li>
            <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Ayarlar</span></a></li>
            <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Çıkış</span></a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--start-top-serch-->
    <div id="search">
        <input type="text" placeholder="Ara..." />
        <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <!--close-top-serch-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="charts.html"><i class="icon icon-signal"></i> <span>Yemekler</span></a> </li>
            <li><a href="tables.html"><i class="icon icon-th"></i> <span>Kullanıcılar</span></a></li>      
            <li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Yorumlar</span></a></li>
        
            <li class="submenu">
                <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
                <ul>
                    <li><a href="error403.html">Error 403</a></li>
                    <li><a href="error404.html">Error 404</a></li>
                    <li><a href="error405.html">Error 405</a></li>
                    <li><a href="error500.html">Error 500</a></li>
                </ul>
            </li>
            <li class="content">
                <span>Monthly Bandwidth Transfer</span>
                <div class="progress progress-mini progress-danger active progress-striped">
                    <div style="width: 77%;" class="bar"></div>
                </div>
                <span class="percent">77%</span>
                <div class="stat">21419.94 / 14000 MB</div>
            </li>
            <li class="content">
                <span>Disk Space Usage</span>
                <div class="progress progress-mini active progress-striped">
                    <div style="width: 87%;" class="bar"></div>
                </div>
                <span class="percent">87%</span>
                <div class="stat">604.44 / 4000 MB</div>
            </li>
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <!--end-main-container-part-->
    <!--Footer-part-->

    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
    </div>

    <!--end-Footer-part-->
    <script src="~/Scripts/Admin/js/excanvas.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.ui.custom.js"></script>
    <script src="~/Scripts/Admin/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.peity.min.js"></script>
    <script src="~/Scripts/Admin/js/fullcalendar.min.js"></script>
    <script src="~/Scripts/Admin/js/matrix.js"></script>
    <script src="~/Scripts/Admin/js/matrix.dashboard.js"></script>
    <script src="~/Scripts/Admin/js/jquery.gritter.min.js"></script>
    <script src="~/Scripts/Admin/js/matrix.interface.js"></script>
    <script src="~/Scripts/Admin/js/matrix.chat.js"></script>
    <script src="~/Scripts/Admin/js/jquery.validate.js"></script>
    <script src="~/Scripts/Admin/js/matrix.form_validation.js"></script>
    <script src="~/Scripts/Admin/js/jquery.wizard.js"></script>
    <script src="~/Scripts/Admin/js/jquery.uniform.js"></script>
    <script src="~/Scripts/Admin/js/select2.min.js"></script>
    <script src="~/Scripts/Admin/js/matrix.popover.js"></script>
    <script src="~/Scripts/Admin/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Admin/js/matrix.tables.js"></script>


    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
</body>
</html>
