@model YemekTarifleri.MvcWebUI.Models.CategoryViewModel

@{
    Layout = "../_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>Data table</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kategori Adı</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
               
             @foreach (var category in Model.Categories)
             {
                 <tr class="gradeC">
                     <td>@category.Id</td>
                     <td>@category.CategoryName</td>
                     <td>    
                         <button class="btn btn-success">Ekle</button>
                         <button class="btn btn-info">Güncelle</button>
                         <button class="btn btn-danger">Sil</button>
                     </td>
                    
                 </tr>
             }

            </tbody>
        </table>
    </div>
</div>
